[submodule "honcho"]
	path = honcho
	url = https://github.com/baba-yu/nunc-honcho.git
	branch = dev
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "honcho-self-hosted"]
	path = honcho-self-hosted
	url = https://github.com/elkimek/honcho-self-hosted.git
